# Bindings to launch commonly-used programs and connect to remote systems.
bind c new-window -n "host" "fish"
bind Escape new-window -n "root" -t 9 "sudo -i"

bind e new-window -n "emacs" "emacsclient -c"
bind J new-window -n "journal" "journalctl -n 10000 -f"

# Initial session (enable when not using tmux-session)
#set-option -g history-limit 10000
#new-session -s desktop-session -n "host" "bash"

#set-option -g history-limit 0
#split-window -t 0.0 -h "emacs"

#set-option -g history-limit 10000
#split-window -t 0.0 -v "bash"

#select-pane -t host.2

